n8n-workflow.json
{
  "name": "Chatbot Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "your-webhook-id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.session_variables['x-hasura-user-id'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-user",
      "name": "Validate User",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "{{ $env.HASURA_ENDPOINT }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-hasura-admin-secret",
              "value": "{{ $env.HASURA_ADMIN_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "{\n  \"query\": \"query CheckChatOwnership($chatId: uuid!, $userId: uuid!) { chats_by_pk(id: $chatId) { id user_id } }\",\n  \"variables\": {\n    \"chatId\": \"{{ $json.input.chat_id }}\",\n    \"userId\": \"{{ $json.session_variables['x-hasura-user-id'] }}\"\n  }\n}",
        "options": {}
      },
      "id": "check-ownership",
      "name": "Check Chat Ownership",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.data.chats_by_pk.user_id }}",
              "rightValue": "={{ $('Webhook Trigger').item.json.session_variables['x-hasura-user-id'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "verify-ownership",
      "name": "Verify Ownership",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://your-app-domain.com"
            },
            {
              "name": "X-Title",
              "value": "Chatbot App"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": "{\n  \"model\": \"meta-llama/llama-3.1-8b-instruct:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful AI assistant. Be concise and friendly in your responses.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Webhook Trigger').item.json.input.message }}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "call-openrouter",
      "name": "Call OpenRouter AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 80]
    },
    {
      "parameters": {
        "url": "{{ $env.HASURA_ENDPOINT }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-hasura-admin-secret",
              "value": "{{ $env.HASURA_ADMIN_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": "{\n  \"query\": \"mutation InsertBotMessage($chatId: uuid!, $content: String!) { insert_messages_one(object: { chat_id: $chatId, content: $content, is_bot: true }) { id } }\",\n  \"variables\": {\n    \"chatId\": \"{{ $('Webhook Trigger').item.json.input.chat_id }}\",\n    \"content\": \"{{ $json.choices[0].message.content }}\"\n  }\n}",
        "options": {}
      },
      "id": "save-response",
      "name": "Save Bot Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Response generated successfully\",\n  \"response\": \"{{ $('Call OpenRouter AI').item.json.choices[0].message.content }}\"\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Unauthorized: You don't own this chat\",\n  \"response\": null\n}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "unauthorized-response",
      "name": "Unauthorized Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Authentication required\",\n  \"response\": null\n}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "auth-required-response",
      "name": "Auth Required Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate User": {
      "main": [
        [
          {
            "node": "Check Chat Ownership",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Required Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Chat Ownership": {
      "main": [
        [
          {
            "node": "Verify Ownership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Ownership": {
      "main": [
        [
          {
            "node": "Call OpenRouter AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenRouter AI": {
      "main": [
        [
          {
            "node": "Save Bot Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Bot Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
